---
layout: default
title: Home
shownav: true
---

<section class="experience" style="margin: auto;">
    <h4 class="experience-title">Experience</h4>
    <div style="margin-top: 30px;">
	<div class="left-col">
	    Jan 2016 to Present
	</div>
	<div class="right-col">
	    <h2 class="job-title">Product Manager &amp; Engineering Lead</h2>
	    <h3 class="company-name"> 
		<a href="" class="company-link" >Zinrelo (f.k.a ShopSocially)</a>  
	    </h3>
	    <p class="job-description"> 
	    I am currently leading the engineering as well as product management effort for the launch of our rebranded product - The Zinrelo platform. During my tenure as an Engineering Lead and Product Manager , I have hired, trained and managed a high performing team of 10 engineers. At Zinrelo, I own the product specifications, prioritization, project management, product architecture,third party integrations,customer interaction and resolution of their issues, hiring related activities and product delivery.
	    </p>
	</div>
    </div>
    
    <div style="clear: both;">
	<div class="left-col" style="margin-top:20px">
	    June 2015 to Jan 2016
	</div>
	<div class="right-col" style="margin-top:20px">
	    <h2 class="job-title"> Engineering Lead </h2>
	    <h3 class="company-name" > 
		<a href="" class="company-link">Zinrelo (f.k.a ShopSocially)</a>  
	    </h3>
		<ul class="job-description">
		    <li>Led a team of engineers responsible for maintaining and enhancing the loyalty program offering.</li>
		    <li>Led the development of crucial features like Loyalty Points expiration, API endpoints , CRM integrations.</li>
		    <li>Worked closely with engineering teams of high value clients to help them go live with our product.</li>
		    <li>Co-developed a POC for Customer Q and A in hackathon which later materialized as our new offering.</li>
		    <li>Oversaw Redis and MongoDB migrations to keep the infrastructure up to date.</li>
		    <li>Spearheaded the initiative of adding test coverage to the product by writing tests for API endpoints. This initiative was taken forward by the team by writing unit test cases and eventually adding continuous integration capability into the development flow.</li>
		    <li>Introduced DokuWiki for engineering documentation and Slate for better API documentation</li>
		</ul>
	</div>
    </div>

    <div style="clear: both;margin-top:30px;">
	<div class="left-col" style="margin-top:20px">
	    Dec 2013 to June 2015
	</div>
	<div class="right-col" style="margin-top:20px">
	    <h2 class="job-title">Senior Full Stack Developer</h2>
	    <h3 class="company-name"> 
		<a href="" class="company-link">Zinrelo (f.k.a ShopSocially)</a>  
	    </h3>
	    <ul class="job-description">
	     <li>Implemented Notification alert for plan usage which led to higher number of subscription upgrades.</li>
	     <li>Co-developed the Photomonials app that fetched photos from Instagram and Twitter tagged with specific hashtags</li>
	     <li>Co-developed the referral program offering for ShopSocially platform.</li>
	    </ul>
	</div>
    </div>
    
    <div style="clear: both;">
	<div class="left-col" style="margin-top:20px;">
	    July 2010 to Dec 2013
	</div>
	<div class="right-col" style="margin-top:20px;">
	    <h2 class="job-title">Engineer - Product Development </h2>
	    <h3 class="company-name"> 
		<a href="" class="company-link">SunGard ( now a part of FIS )</a>  
	    </h3>
	    <p class="job-description">
	    In my roles as an Engineer and then a Senior Software Engineer at Kiodex, I was solely responsible for all the development needs, production support needs and production deployment for a project named Kiodex Integration Hub. I was the single point of contact for Market Data team at Kiodex for KIH related issues. 
	</div>
    </div>

    
</section>



