---
layout: default
title: Home
shownav: true
---

<section class="experience" style="margin: auto;">
    <h4 class="experience-title">Experience</h4>
    <div style="margin-top: 30px;">
	<div class="left-col">
	    Jan 2016 to Present
	</div>
	<div class="right-col">
	    <h2 class="job-title">Product Manager &amp; Engineering Lead</h2>
	    <h3 class="company-name"> 
		<a href="" class="company-link" >Zinrelo (f.k.a ShopSocially)</a>  
	    </h3>
	    <p class="job-description"> 
	    I am currently leading the engineering as well as product management effort for the launch of our rebranded product - The Zinrelo platform. 
	    At Zinrelo, I own the product specifications, product roadmap and prioritization, project management, product architecture, third party integrations, 
	    customer interaction and product delivery.
	    </p>
	</div>
    </div>
    
    <div style="clear: both;">
	<div class="left-col" style="margin-top:20px">
	    June 2015 to Jan 2016
	</div>
	<div class="right-col" style="margin-top:20px">
	    <h2 class="job-title"> Engineering Lead </h2>
	    <h3 class="company-name" > 
		<a href="" class="company-link">Zinrelo (f.k.a ShopSocially)</a>  
	    </h3>
	    <p class="job-description">
	    During my tenure as an Engineering Lead, I have hired, trained and managed a high performing team of 10 engineers responsible for maintaining and ehancing the loyalty program offering.
	    I spearheaded the development of crucial features like Loyalty Points Expiration, API endpoints and CRM integrations. As the go-to guy for engineering, 
	    I got a chance to work closely with engineering teams of high value clients to help them go live with our product.
	    </p>
	</div>
    </div>

    <div style="clear: both;margin-top:30px;">
	<div class="left-col" style="margin-top:20px">
	    Dec 2013 to June 2015
	</div>
	<div class="right-col" style="margin-top:20px">
	    <h2 class="job-title">Senior Full Stack Developer</h2>
	    <h3 class="company-name"> 
		<a href="" class="company-link">Zinrelo (f.k.a ShopSocially)</a>  
	    </h3>
	    <p class="job-description">
	    Developing Notification alerts for plan usage which led to higher number of subscription upgrades, developing Photomonials app to fetch photos from Instagram and twitter, developing referral program offering for ShopSocially were the key highlights of my job as a Senior Full Stack Developer at ShopSocially (now renamed as Zinrelo)
	    </p>
	</div>
    </div>
    
    <div style="clear: both;">
	<div class="left-col" style="margin-top:20px;">
	    July 2010 to Dec 2013
	</div>
	<div class="right-col" style="margin-top:20px;">
	    <h2 class="job-title">Engineer - Product Development </h2>
	    <h3 class="company-name"> 
		<a href="" class="company-link">SunGard ( now a part of FIS )</a>  
	    </h3>
	    <p class="job-description">
	    In my roles as an Engineer and then a Senior Software Engineer at SunGard, I was solely responsible for all the development needs, production support needs and production deployment for a project named Kiodex Integration Hub. I was the single point of contact for Market Data team at Kiodex for KIH related issues. 
	</div>
    </div>

    
</section>



