---
layout: default
title: Home
shownav: true
---

<section class="experience" style="margin: auto;">
    <h4 class="experience-title">Experience</h4>
    <div style="margin-top: 30px;">
	<div class="left-col">
	    Jan 2016 to Present
	</div>
	<div class="right-col">
	    <h2 class="job-title">Product Manager &amp; Engineering Lead</h2>
	    <h3 class="company-name"> 
		<a href="" class="company-link" >Zinrelo (f.k.a ShopSocially)</a>  
	    </h3>
	    <p class="job-description">Leading product and brand design. Providing direction and hands-on work. Working with cross-functional teams on product, brand, and business initiatives. Work includes website, desktop, and mobile app.</p>
	</div>
    </div>
    
    <div style="clear: both;">
	<div class="left-col">
	    May 2015 to Jan 2016
	</div>
	<div class="right-col">
	    <h2 class="job-title"> Engineering Lead </h2>
	    <h3 class="company-name" > 
		<a href="" class="company-link">Zinrelo (f.k.a ShopSocially)</a>  
	    </h3>
	    <p class="job-description">Designer for both product and brand. Worked and led the execution on re-invisioning our product experience, and our brand story.</p>
	</div>
    </div>

    <div style="clear: both;">
	<div class="left-col">
	    Dec 2013 to May 2015
	</div>
	<div class="right-col">
	    <h2 class="job-title">Senior Full Stack Developer</h2>
	    <h3 class="company-name"> 
		<a href="" class="company-link">Zinrelo (f.k.a ShopSocially)</a>  
	    </h3>
	    <p class="job-description">Designer for both product and brand. Worked and led the execution on re-invisioning our product experience, and our brand story.</p>
	</div>
    </div>
    
    <div style="clear: both;">
	<div class="left-col">
	    July 2010 to Dec 2013
	</div>
	<div class="right-col">
	    <h2 class="job-title">Engineer - Product Development </h2>
	    <h3 class="company-name"> 
		<a href="" class="company-link">SunGard ( now a part of FIS )</a>  
	    </h3>
	    <p class="job-description">Designer for both product and brand. Worked and led the execution on re-invisioning our product experience, and our brand story.</p>
	</div>
    </div>

    
</section>



